* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.logo{
    height: 100%;
}

header,footer{
    width: 100vw;
    height: 15vh;
    background-color: rgb(108, 202, 108);
    display: flex;
    gap: 10vw;
    align-items: center;
    justify-content: space-between;
    
}

.esquerda{
    display: flex;
}
.direita{
    display: flex;
}

.container{
    width: 100vw;
    height: 80vh;
    background-color: rgb(117, 230, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}
table, thead,tbody{
  
    width: 80%;

}
tr,li{
 width: 100%;
 min-height: 6vh;
 display: flex;
 align-items: center;
 justify-content: space-between;
border-bottom: 2px solid black;
}
th, td{
  min-width: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.btn{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: 600;
    color: aliceblue;
}
.btn:hover{
    text-decoration: none;
    background-color: rgb(231, 10, 10);
    color: cornsilk;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;

}
ul{
    list-style: none;

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
form>p{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logo{
    width: 20vw;
    height: 10vh;

}
.btnacesso{
    height: 100%;
    display: flex;
    align-items: center;
}

body{
    display: grid;
    grid-template-columns: 12fr;
    grid-template-areas: 10vh calc(100vh - 20vh)10vh;
    grid-template-areas: "h"
                        "c"
                        "f";

}
header{
    grid-area: h;
    background-color: rgb(163, 27, 200);

}
label {
    margin-bottom: 5px;
    color: antiquewhite;
    display: flex;
}
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}


#menu-toggle {
    display: none;
}


@media (max-width: 768px) {
    .menu {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 10vh; 
        left: 0;
        background-color: rgb(220, 20, 93);
        width: 100%;
        padding: 1rem 0;
    }

    .menu a {
        padding: 1rem;
        text-align: center;
        width: 100%;
        border-top: 1px solid white;
    }

    .menu a:last-child {
        border-bottom: 1px solid white;
    }

    .menu-toggle {
        display: block; 
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }
}

@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
    th, td {
        padding: 6px;
    }
    .acao{
        display: flex;
        flex-direction: column;
    }
}