/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(138, 209, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do login */
.login-container {
    background-color: rgb(142, 19, 164);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0e0c0c;
}

/* Estilo do formulário */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #100e0e;
    display: flex;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

/* Botão */
button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}