{% extends 'base.html' %}

{% block title %}Lista de Produto{% endblock %}

{% block content %}
    <h2>Lista de Produto</h2>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for protudo in object_list %}
            <tr>
                <td>{{produto.nome }}</td>
                <td>R$ {{ produto.preco }}</td>
                <td>{{ produto.categoria.nome }}</td>
                <td>
                    <a href="{% url 'produto_update' produto.pk %}" class="btnv btn-sm btn-warning">Editar</a>
                    <a href="{% url 'produto_delete' produto.pk %}" class="btnv btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum estoque cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class= "btn" href="{% url 'produto_create' %}">NovoProduto</a>
    <br>
    <a class = "btn" href="{% url 'categoria_create' %}">Cadastrar Categoria</a>
{% endblock %}

