<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do sistema</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class= "login-container">
    <h1>Login</h1>
    <form method= "Post" action="{% url 'login'%}">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Entrar</button>
</form>
{% if form.erros %}
<p>Usuarios e senha invalidos</p>
{% endif%}
</div>
</body>
</html>